body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    text-shadow: 0 0 10px black;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

em {
    font-style: normal !important;
    text-decoration: underline;
}

h1 { 
    font-size: 56px;
}

p {
    text-align: left;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    /*max-width: 400px;*/
    margin: 10px;
}

hr {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 20px;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
nav li {
    font-size: 32px;
    margin: 10px 15px;
    text-shadow:
    0px 0px 10px magenta,
    0px 0px 10px magenta;
  }

.container, .empty_container{
    border: 2px solid white;
    padding: 10px;
    box-shadow: 0px 0px 10px magenta;
    overflow-wrap: break-word;
}

.empty_container {
    width: max-content;
  }

.container {
    background-color: purple;
    background-color: rgba(128, 0, 128, 0.4);
    background-image: url("background2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: MidnightBlue;
}

.editableText {
    cursor: pointer;
}
.subtitle, p{
    text-shadow:
    0px 0px 8px black,
    0px 1px 8px black,
    1px 0px 8px black,
    0px -1px 8px black,
    -1px -1px 8px black;
}

.arrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#down {
    margin: 0 0 0 60px;
}

#up {
    margin: 0 0 60px 0;
}

.leftright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 40%;
}

.screen {
    width: 100%;
    height: 100vh;
}

.button, .preview {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor: pointer;
}

.button {
    text-shadow:
    0px 0px 10px magenta,
    0px 0px 10px magenta;
}

.preview:hover {
    text-shadow:
    0px 0px 10px magenta,
    0px 0px 10px magenta;
}

article {
    display: none;
}

#SimCity {
    display:  block;
}

#first_project {
    text-shadow:
    0px 0px 10px magenta,
    0px 0px 10px magenta;
}
