html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: #111117;
  background-image: url("./assets/bkg_dark.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: black;
}

.textContainer {
    padding: 0 40px 0 40px;
}

h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 28px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.button {
  margin-top: 35px;
}