.image-half-screen {
    height: 75vh;
    border-radius: 10%;
}


@media (min-width: 1200px) {
    #section-content-home {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.section-content {
    margin: 80px 35px 0 35px;
}