.image-half-screen {
    height: 75vh;
    border-radius: 10%;
}


@media (min-width: 800px) {
    #section-content-home {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}