#section-content-personal {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.list-item {
    font-size: 18px;
    padding: 8px;
}

.list-item:hover {
    cursor: pointer;
    color: rgba(22, 22, 22);
    background-color: rgba(255, 255, 255, 0.5);
}

.preview-project-content {
    width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 3px solid;
        border-color: white;
    }

@media (min-width: 1200px) {
    #section-content-personal {
        justify-content: center;
    }

    .list-projects {
        width: 400px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 3px solid;
        border-color: white;
    }

    .projects-section {
        display: flex;
        flex-direction: row;
        height: 400px;
        align-items: stretch;
    }

    .preview-project-content {
        margin-left: 32px;
    }
}

@media (max-width: 1200px) {
    #section-content-personal {
        height: 80vh;
        padding-top: 60px;
    }

    .projects-section {
        position: relative;
    }

    .list-projects {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 52px;
        right: -1000px;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .list-projects-align {
        text-align: left;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 3px solid;
        border-color: white;
    }
    .project-selector {
        font-size: 18px;
        padding: 20px;
    }
    .project-selector-button {
        padding: 8px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 3px solid;
        border-color: white;
    }
    .project-selector-check {
        position: absolute;
        top: 0;
        height: 58px;
        width: 220px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .project-selector-check:hover {
        cursor: pointer;
    }
    .project-selector-check:checked ~ .list-projects{
        right: 0;
        opacity: 1;
    }
}