#section-content-projects {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
}

.section-item-projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 20vh;
    text-align: left;
}

.image-item-projects {
    border-radius: 10px;
    margin: 10px;
}